/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.kurac {
  background-color: red;
  display: block;
  grid-row: inherit;
  -webkit-box-shadow: 1px 5px 3px black;
          box-shadow: 1px 5px 3px black;
}

:root {
  --header-height: 3rem;
  --title-color: #0b0a0a;
  --text-color: #403a3a;
  --text-color-light: #707070;
  --container-color: #fafafa;
  --constainer-color-alt: #f0efef;
  --body-color: #fcfcfc;
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 1rem;
  --h2-font-size: 1rem;
  --h3-font-size: 0.938rem;
  --normal-font-size: 0.9rem;
  --small-font-size: 0.83rem;
  --smaller-font-size: 0.72rem;
  --font-medium: 500;
  --font-semi-bold: 600;
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-above-all: 101;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.change-theme {
  position: absolute;
  right: 0;
  top: 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-color);
  font-size: 1.2rem;
  cursor: pointer;
}

.change-theme:hover {
  color: var(--title-color);
}

.generate-pdf {
  display: none;
  position: absolute;
  left: 0;
  top: 2.2rem;
  font-size: 1.2rem;
  color: var(--text-color);
  cursor: pointer;
}

.generate-pdf:hover {
  color: var(--title-color);
}

body.dark-theme {
  --title-color: #f2f2f2;
  --text-color: #bfbfbf;
  --text-color-light: #707070;
  --container-color: #212121;
  --constainer-color-alt: #181616;
  --body-color: #2b2b2b;
}

html {
  scroll-behavior: smooth;
}

.create-pdf {
  font-family: "Helvetica" !important;
}

.scale-cv .change-theme,
.scale-cv .generate-pdf {
  display: none;
}

.scale-cv .bd-container {
  max-width: 595px;
}

.scale-cv .section {
  padding: 1.5rem 0 0.8rem;
}

.scale-cv .section-title {
  margin-bottom: 0.75rem;
}

.scale-cv .resume__left,
.scale-cv .resume__right {
  padding: 0 1rem;
}

.scale-cv .home__img {
  width: 90px;
  height: 90px;
}

.scale-cv .home__container {
  gap: 1.5rem;
}

.scale-cv .home__data,
.scale-cv .education__data,
.scale-cv .experience__data {
  gap: 0.25rem;
}

.scale-cv .home__address,
.scale-cv .social__container {
  gap: 0.75rem;
}

.scale-cv .home__icon,
.scale-cv .social__icon,
.scale-cv .interests__icon {
  font-size: 1rem;
}

.scale-cv .education__container,
.scale-cv .experience__container,
.scale-cv .certificate__container {
  gap: 1rem;
}

.scale-cv .interests__container {
  -webkit-column-gap: 2.5rem;
          column-gap: 2.5rem;
}

.scale-cv .education__time,
.scale-cv .experience__time {
  padding-right: 0.5rem;
}

.scale-cv .education__rounder,
.scale-cv .experience__rounder {
  width: 11px;
  height: 11px;
  margin-top: 0.22rem;
}

.scale-cv .education__line,
.scale-cv .experience__line {
  width: 1px;
  height: 110%;
  -webkit-transform: translate(5px, 0);
          transform: translate(5px, 0);
}

.scale-cv .skills__name {
  margin-bottom: var(--mb-1);
}

body {
  margin: 0 0 var(--header-height) 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

@media screen and (min-width: 968px) {
  body body {
    margin: 3rem 0;
  }
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2,
h3,
a {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

li {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 1.5rem 0;
}

.section-title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  text-align: center;
  margin-bottom: var(--mb-3);
}

.bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  -webkit-box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav {
  height: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 968px) {
  .nav__menu {
    position: fixed;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: var(--body-color);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 1rem 1rem 0 0;
    z-index: var(--z-fixed);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.nav__logo, .nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

.nav__item {
  text-align: center;
}

.nav__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 320px) {
  .nav__list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1rem 0.5rem;
  }
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  font-weight: var(--font-medium);
}

.nav__link:hover {
  color: var(--title-color);
}

.nav__icon {
  font-size: 1.2rem;
  margin-bottom: var(--mb-1);
}

.show-menu {
  bottom: var(--header-height);
}

.hide-menu {
  bottom: -100%;
}

.home {
  position: relative;
}

.home__container {
  gap: 3rem;
}

.home__data {
  gap: 0.5rem;
  text-align: center;
}

.home__img {
  width: 127px;
  height: 127px;
  border-radius: 50%;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: var(--mb-1);
}

.home__title {
  font-size: var(--h1-font-size);
}

.home__profession {
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-1);
}

.home__address {
  gap: 1rem;
}

.home__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--small-font-size);
}

.home__icon {
  font-size: 1.2rem;
  margin-right: 0.25rem;
}

.home__button-movil {
  display: inline-block;
  border: 2px solid var(--text-color);
  color: var(--title-color);
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  -webkit-transition: 300ms;
  transition: 300ms;
  font-weight: var(--font-medium);
  margin-top: var(--mb-3);
  margin-bottom: var(--mb-3);
}

.home__button-movil:hover {
  background-color: var(--text-color);
  color: var(--container-color);
}

.social__conainter {
  -ms-grid-columns: max-content;
      grid-template-columns: -webkit-max-content;
      grid-template-columns: max-content;
  gap: 1rem;
}

.social__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.social__link:hover {
  color: var(--title-color);
}

.social__icon {
  font-size: 1.2rem;
  margin-right: 0.25rem;
}

.profile__description {
  text-align: center;
}

.education__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.education__time {
  padding-right: 1rem;
}

.education__rounder {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--text-color-light);
  border-radius: 50%;
  margin-top: 0.25rem;
}

.education__line {
  display: block;
  width: 2px;
  height: 110%;
  background-color: var(--text-color-light);
  -webkit-transform: translate(7px, 0);
          transform: translate(7px, 0);
}

.education__data {
  gap: 0.5rem;
}

.education__title {
  font-size: var(--h3-font-size);
}

.education__studies {
  font-size: var(--small-font-size);
  color: var(--title-color);
}

.education__year {
  font-size: var(--smaller-font-size);
}

.skills__content {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 0;
}

.skills__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: var(--mb-3);
}

.skills__circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--text-color);
  border-radius: 50%;
  margin-right: 0.75rem;
}

.experience__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.experience__time {
  padding-right: 1rem;
}

.experience__rounder {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--text-color-light);
  border-radius: 50%;
  margin-top: 0.25rem;
}

.experience__line {
  display: block;
  width: 2px;
  height: 110%;
  background-color: var(--text-color-light);
  -webkit-transform: translate(7px, 0);
          transform: translate(7px, 0);
}

.experience__data {
  gap: 0.5rem;
}

.experience__title {
  font-size: var(--h3-font-size);
  text-transform: uppercase;
}

.experience__company {
  font-size: var(--small-font-size);
  color: var(--title-color);
}

.experience__year {
  font-size: var(--smaller-font-size);
}

.certificate__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}

.references__content {
  gap: 0.25rem;
}

.references__subtitle {
  color: var(--text-color-light);
}

.references__subtitle, .references__detail {
  font-size: var(--smaller-font-size);
}

.references__title {
  font-size: var(--h3-font-size);
}

.languages__content {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 0;
}

.languages__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: var(--mb-3);
}

.languages__circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--text-color);
  border-radius: 50%;
  margin-right: 0.75rem;
}

.interests__container {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-top: var(--mb-2);
}

.interests__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interests__icon {
  font-size: 1.5rem;
  color: var(--text-color-light);
  margin-bottom: 0.25rem;
}

.scroll-top {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 0.3rem;
  background-color: var(--constainer-color-alt);
  border-radius: 0.4rem;
  z-index: var(--z-fixed);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  visibility: hidden;
}

.scroll-top-icon {
  font-size: 1.2rem;
  color: var(--text-color);
}

.scroll-top-show {
  visibility: visible;
  bottom: 5rem;
}

@media screen and (min-width: 968px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }
  .l-header,
  .scroll-top {
    display: none;
  }
  .resume {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.5fr 1fr;
        grid-template-columns: 0.5fr 1fr;
    background-color: var(--container-color);
    -webkit-box-shadow: 0 0 8px rgba(13, 12, 12, 0.15);
            box-shadow: 0 0 8px rgba(13, 12, 12, 0.15);
    margin-top: var(--mb-3);
  }
  .resume__left {
    background-color: var(--constainer-color-alt);
    padding: 0 1.5rem;
  }
  .resume__right {
    padding: 0 1.5rem;
  }
  .section-title,
  .profile__description {
    text-align: initial;
  }
  .home__container {
    gap: 1.5rem;
  }
  .home__button-movil {
    display: none;
  }
  .references__container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .languages__content {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 3.5rem;
            column-gap: 3.5rem;
  }
  .interests__container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 3.5rem;
            column-gap: 3.5rem;
  }
  .generate-pdf {
    display: inline-block;
  }
}
/*# sourceMappingURL=styles.css.map */