$breakpoint-phone: 320px;
$breakpoint-desktop: 968px;

/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.kurac {
  background-color: red;
  display: block;
  grid-row: inherit;
  box-shadow: 1px 5px 3px black;
}

:root {
  --header-height: 3rem;
  // Colors
  --title-color: #0b0a0a;
  --text-color: #403a3a;
  --text-color-light: #707070;
  --container-color: #fafafa;
  --constainer-color-alt: #f0efef;
  --body-color: #fcfcfc;

  //   Font and typography
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 1rem; //1.5rem;
  --h2-font-size: 1rem; //1.25rem;
  --h3-font-size: 0.938rem; //1rem;
  --normal-font-size: 0.9rem; //0.938rem;
  --small-font-size: 0.83rem; //0.875rem;
  --smaller-font-size: 0.72rem; // 0.813rem;

  // Font weight
  --font-medium: 500;
  --font-semi-bold: 600;

  //Margenes
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;

  //Z index
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-above-all: 101;
}

//BASE
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.change-theme {
  position: absolute;
  right: 0;
  top: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-size: 1.2rem;
  cursor: pointer;
  &:hover {
    color: var(--title-color);
  }
}

.generate-pdf {
  display: none;
  position: absolute;
  left: 0;
  top: 2.2rem;
  font-size: 1.2rem;
  color: var(--text-color);
  cursor: pointer;
}
.generate-pdf:hover {
  color: var(--title-color);
}

body.dark-theme {
  // Colors
  --title-color: #f2f2f2;
  --text-color: #bfbfbf;
  --text-color-light: #707070;
  --container-color: #212121;
  --constainer-color-alt: #181616;
  --body-color: #2b2b2b;
}

html {
  scroll-behavior: smooth;
}

//Classes modified to reduce size on A4 print

.create-pdf {
  font-family: "Helvetica" !important;

  .change-theme,
  .generate-pdf {
    // display: none;
  }
}

.scale-cv {
  .change-theme,
  .generate-pdf {
    display: none;
  }
  .bd-container {
    max-width: 595px;
  }
  .section {
    padding: 1.5rem 0 0.8rem;
  }
  .section-title {
    margin-bottom: 0.75rem;
  }
  .resume__left,
  .resume__right {
    padding: 0 1rem;
  }
  .home__img {
    width: 90px;
    height: 90px;
  }
  .home__container {
    gap: 1.5rem;
  }
  .home__data,
  .education__data,
  .experience__data {
    gap: 0.25rem;
  }
  .home__address,
  .social__container {
    gap: 0.75rem;
  }
  .home__icon,
  .social__icon,
  .interests__icon {
    font-size: 1rem;
  }

  .education__container,
  .experience__container,
  .certificate__container {
    gap: 1rem;
  }
  .interests__container {
    column-gap: 2.5rem;
  }

  .education__time,
  .experience__time {
    padding-right: 0.5rem;
  }

  .education__rounder,
  .experience__rounder {
    width: 11px;
    height: 11px;
    margin-top: 0.22rem;
  }
  .education__line,
  .experience__line {
    width: 1px;
    height: 110%;
    transform: translate(5px, 0);
  }
  .skills__name {
    margin-bottom: var(--mb-1);
  }
}

body {
  margin: 0 0 var(--header-height) 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);

  @media screen and (min-width: $breakpoint-desktop) {
    body {
      margin: 3rem 0;
    }
  }
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2,
h3,
a {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

li {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

//CLASS CSS
.section {
  padding: 1.5rem 0;
}

.section-title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  text-align: center;
  margin-bottom: var(--mb-3);
}

//LAYOUT
.bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

//NAVIGATION
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: $breakpoint-desktop) {
    &__menu {
      position: fixed;
      left: 0;
      width: 100%;
      padding: 2rem 1.5rem;
      background-color: var(--body-color);
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
      border-radius: 1rem 1rem 0 0;
      z-index: var(--z-fixed);
      transition: 0.3s;
    }
  }

  &__logo,
  &__toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
  }

  &__toggle {
    font-size: 1.2rem;
    cursor: pointer;
  }

  &__item {
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    //PHONE
    @media screen and (max-width: $breakpoint-phone) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem 0.5rem;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    font-weight: var(--font-medium);
  }

  &__link:hover {
    color: var(--title-color);
  }

  &__icon {
    font-size: 1.2rem;
    margin-bottom: var(--mb-1);
  }
}

// Show menu
.show-menu {
  bottom: var(--header-height);
}
// Hide menu
.hide-menu {
  bottom: -100%;
}

// HOME
.home {
  position: relative;

  &__container {
    gap: 3rem;
  }

  &__data {
    gap: 0.5rem;
    text-align: center;
  }

  &__img {
    width: 127px;
    height: 127px;
    border-radius: 50%;
    justify-self: center;
    margin-bottom: var(--mb-1);
  }

  &__title {
    font-size: var(--h1-font-size);
  }

  &__profession {
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-1);
  }

  &__address {
    gap: 1rem;
  }

  &__information {
    display: flex;
    align-items: center;
    font-size: var(--small-font-size);
  }

  &__icon {
    font-size: 1.2rem;
    margin-right: 0.25rem;
  }

  &__button-movil {
    display: inline-block;
    border: 2px solid var(--text-color);
    color: var(--title-color);
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    transition: 300ms;
    font-weight: var(--font-medium);
    margin-top: var(--mb-3);
    margin-bottom: var(--mb-3);
  }

  &__button-movil:hover {
    background-color: var(--text-color);
    color: var(--container-color);
  }
}

// SOCIAL
.social {
  &__conainter {
    grid-template-columns: max-content;
    gap: 1rem;
  }
  &__link {
    display: inline-flex;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--text-color);

    &:hover {
      color: var(--title-color);
    }
  }

  &__icon {
    font-size: 1.2rem;
    margin-right: 0.25rem;
  }
}

// PROFILE
.profile {
  &__description {
    text-align: center;
  }
}

// EDUCATION
.education {
  &__content {
    display: flex;
  }
  &__time {
    padding-right: 1rem;
  }
  &__rounder {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    background-color: var(--text-color-light);
    border-radius: 50%;
    margin-top: 0.25rem;
  }
  &__line {
    display: block;
    width: 2px;
    height: 110%;
    background-color: var(--text-color-light);
    transform: translate(7px, 0);
  }

  &__data {
    gap: 0.5rem;
  }
  &__title {
    font-size: var(--h3-font-size);
  }

  &__studies {
    font-size: var(--small-font-size);
    color: var(--title-color);
  }
  &__year {
    font-size: var(--smaller-font-size);
  }
}

// SKILLS
.skills {
  &__content {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
  &__name {
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-3);
  }
  &__circle {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: var(--text-color);
    border-radius: 50%;
    margin-right: 0.75rem;
  }
}

// EXPERIENCE
.experience {
  &__content {
    display: flex;
  }
  &__time {
    padding-right: 1rem;
  }
  &__rounder {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    background-color: var(--text-color-light);
    border-radius: 50%;
    margin-top: 0.25rem;
  }
  &__line {
    display: block;
    width: 2px;
    height: 110%;
    background-color: var(--text-color-light);
    transform: translate(7px, 0);
  }

  &__data {
    gap: 0.5rem;
  }
  &__title {
    font-size: var(--h3-font-size);
    text-transform: uppercase;
  }

  &__company {
    font-size: var(--small-font-size);
    color: var(--title-color);
  }
  &__year {
    font-size: var(--smaller-font-size);
  }
}

// CERTIFICATES
.certificate {
  &__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
  }
}

//REFERENCES
.references {
  &__content {
    gap: 0.25rem;
  }
  &__subtitle {
    color: var(--text-color-light);
  }
  &__subtitle,
  &__detail {
    font-size: var(--smaller-font-size);
  }
  &__title {
    font-size: var(--h3-font-size);
  }
}

// LANGUAGES
.languages {
  &__content {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
  &__name {
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-3);
  }
  &__circle {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: var(--text-color);
    border-radius: 50%;
    margin-right: 0.75rem;
  }
}

// INTERESTS
.interests {
  &__container {
    grid-template-columns: repeat(3, 1fr);
    margin-top: var(--mb-2);
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__icon {
    font-size: 1.5rem;
    color: var(--text-color-light);
    margin-bottom: 0.25rem;
  }
}

//scroll to top
.scroll-top {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 0.3rem;
  background-color: var(--constainer-color-alt);
  border-radius: 0.4rem;
  z-index: var(--z-fixed);
  transition: 0.4s;
  visibility: hidden;

  &-icon {
    font-size: 1.2rem;
    color: var(--text-color);
  }
  &-show {
    visibility: visible;
    bottom: 5rem;
  }
}

// MEDIA QUERIS

@media screen and (min-width: $breakpoint-desktop) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .l-header,
  .scroll-top {
    display: none;
  }

  .resume {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    background-color: var(--container-color);
    box-shadow: 0 0 8px rgba(13, 12, 12, 0.15);
    margin-top: var(--mb-3);
    &__left {
      background-color: var(--constainer-color-alt);
      padding: 0 1.5rem;
    }
    &__right {
      padding: 0 1.5rem;
    }
  }

  .section-title,
  .profile__description {
    text-align: initial;
  }

  .home__container {
    gap: 1.5rem;
  }
  .home__button-movil {
    display: none;
  }

  .references__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .languages__content {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3.5rem;
  }
  .interests__container {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3.5rem;
  }

  .generate-pdf {
    display: inline-block;
  }
}
